.TextLimage-div{
width: 50%;
margin: 0 auto;
}
.TextLimage-img  {
width: 100%;
height: 500px;
	}
	

.TextLimage{
align-items: center;
margin: 0 auto;
width:inherit;
height: 500px;
}
 .TextLimage-ele{
padding-left: 30px; 
 }
 	